/node_modules
/public/hot
/public/css
/public/css_2
/public/js
/public/storage
/public/assets/phpqrcode
/public/phpqrcode
/public/img_qrcode
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/config
/public/assets